@model List<YON.Models.Station>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var UserName = ViewBag.UserName;
    var Stations = Model;//ViewBag.Stations;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
    <h1>@UserName</h1>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Stations
        </a>
        @for (int i = 0; i < Model.Count; i++)
        {

            <a class="list-group-item">
                <h4 class="list-group-item-heading">@Model[i].SiteName</h4>
                <p class="list-group-item-text">@Model[i].PublishAgency</p>
            </a>

        }
    </div>
    @*<table class="table table-striped">
        <thead>
            <tr>
                <th>SiteName</th>
                <th>UVI</th>
                <th>PublishAgency</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Stations.Count; i++)
            {
                <tr>
                    <td>@Model[i].SiteName</td>
                    <td>@Model[i].UVI</td>
                    <td>@Model[i].PublishAgency</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">共 @Stations.Count 筆資料</td>
            </tr>
        </tfoot>
    </table>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>
